*.class
*.log

# model and G-code
*.stl
*.gco

# sbt specific
.cache/
.history/
.lib/
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/build.properties

# others
clean.sh
doc/.ipynb_checkpoints/
